    <!-- About Section -->
    <section id="about" class="contain page">
      <div class="limiter clearfix pad4y">
        <div class="col8 clearfix space-bottom2 contain">
          <div class="col10 margin2r space-bottom2">
            <h1 class="space-bottom2">State of the Map 2026</h1>
            <p>State of the Map is the annual event for all mappers and OpenStreetMap users. In 2026 the State of the Map conference will be taking place in Paris and online. It will be a three day conference packed with talks, workshops, discussion rounds and more.</p>

            <p>
              Watch the conference teaser to get ready for SotM 2026!
            </p>
            <div style="position: relative; overflow: hidden; width: 100%; padding-top: 56.25%; margin-bottom:1.2em;">
              <iframe style="position: absolute; top:0; left:0; bottom:0; right:0; width: 100%; height: 100%;" title="Candidature - State of the Map Monde - English" width="100%" height="auto" src="https://peertube.openstreetmap.fr/videos/embed/kme7gzVKaqaK4tztBSkkWb" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
            </div>

            <p>Your organising team.</p>
          </div>
        </div>
        <div class="col4 clearfix contain">
          <h3 class="small-title uppercase">Where?</h3>
          <p>
            <!--<a href="venue">-->
              Paris, France<br>
              Cité Descartes, Champs-sur-Marne
            <!--</a>--><br>
            <a href="https://www.openstreetmap.org/?mlat=48.84172&mlon=2.58758">48° 50′ 30″ N, 2° 35′ 15″ E</a>
          </p>

          <h3 class="small-title uppercase">When?</h3>
          <p>
            August 28 - 30, 2026
          </p>

          <!--<h3 class="small-title uppercase"><a href="events">Social Event</a></h3>
          <p>
            TBD
          </p>-->

          <!--<h3 class="small-title uppercase">Additional Events</h3>
          <ul>
          </ul>-->

          <h3 class="small-title uppercase">Partners</h3>
          <p>
            <a href="https://www.ign.fr/"><img src="/img/partners/ign.svg"                 style="display:block; width:125px; background-color:#eee; border-radius:5px; padding: 15px; margin-top:   0; margin-bottom:10px; float: right;" /></a>
            <a href="https://geodata-paris.fr/"><img src="/img/partners/geodata_paris.svg" style="display:block; width:195px; background-color:#eee; border-radius:5px; padding:    0; margin-top:10px; margin-bottom:10px;" /></a>
            <a href="https://www.univ-gustave-eiffel.fr/"><img src="/img/partners/uge.svg" style="display:block; width:195px; background-color:#eee; border-radius:5px; padding: 15px; margin-top:10px; margin-bottom:10px;" /></a>
            <a href="https://www.ecoledesponts.fr/"><img src="/img/partners/enpc.svg"      style="display:block; width:195px; background-color:#eee; border-radius:5px; padding:  5px; margin-top:10px; margin-bottom:10px;" /></a>
          </p>

          <h3 class="small-title uppercase" style="height:0">&nbsp;</h3>
          <p>
            <h4>Support OpenStreetMap!</h4>
            <small>OpenStreetMap is free to use, but not free to run. If you wish to further support the project, head over to OpenStreetMap's <a href="https://supporting.openstreetmap.org/">donation</a> page to find out how you can help improve its stability, quality and independence.</small>
            <a href="https://openstreetmap.org"><img src="img/osm.svg" style="display:block; width:225px; margin-top:20px; margin-bottom:30px;" /></a>
          </p>
        </div>
      </div>
    </section>
