<div id="map" style="height:420px; width:100%" class="{{ include.class }}"></div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var map = L.map('map').setView([48.84172, 2.58758], {{ include.zoom }});
    L.control.scale().addTo(map);
    L.tileLayer('{{ site.map_tiles.url}}', {
      attribution: '{{ site.map_tiles.attribution }}',
      maxZoom: {{ site.map_tiles.maxZoom}}
    }).addTo(map);
    map.scrollWheelZoom.disable();
    L.circleMarker([48.84172, 2.58758], {
      radius: 26,
      weight: 2.5,
      color: "#00396a",
      fillColor: "#fff",
      fillOpacity: 0.42,
      className: 'map-marker'
    }).bindPopup("<h3>Conference Venue</h3><p><a href='https://osm.org/go/0BO3PkXp?m=' target='_blank'>Open location on osm.org</a>.</p>").addTo(map);
  }, false);
</script>
