<section class="contain dark" id="sponsors">

  <div class="limiter pad4y clearfix center" id="sponsoring-interested">
    <h1 class="space-bottom4">Interested in Sponsoring?</h1>
    <p>
      Take a look at our <a href="{{site.baseurl}}/Sponsorship_SotM2026_en.pdf">sponsorship prospectus</a> (<a href="{{site.baseurl}}/Sponsorship_SotM2026_fr.pdf">also available in French</a>) and contact us via email at <a href="mailto:sponsor-sotm@openstreetmap.org">sponsor-sotm@openstreetmap.org</a>!
    </p>
  </div>

  <div class="limiter pad4y clearfix">
    <h1 class="space-bottom2 center">Our Sponsors</h1>

    <h3 class="clearfix small-title sponsors platinum">Platinum</h3>
    <div class="sponsor">
      <a href="https://tomtom.com">
        <img src="img/sponsors/tomtom.png" style="margin-top: 10px; margin-left: -32px; margin-bottom: -10px; width: 400px; filter: invert(1) hue-rotate(180deg) brightness(0.51) contrast(100);" alt="TomTom">
      </a>
      <!--<p style="font-size:85%; line-height:1.2; text-indent:-0.75em; font-style:italic;">testimonial?</p>-->
    </div>
    <div class="clearfix space-bottom2 space-top4 platinum">
      <a class="col2 pad2 space-bottom2" href="mailto:sponsor-sotm@openstreetmap.org">
        <img src="img/sponsors.png" style="filter: grayscale(1) contrast(100);" />
      </a>
    </div>

    <h3 class="clearfix small-title sponsors gold">Gold</h3>
    <div class="col3 pad1 space-bottom2 sponsor">
      <a href="https://esri.com">
        <img src="img/sponsors/esri.png" style="margin-top: 0px; filter: invert(1);" alt="ESRI">
      </a>
    </div>
    <div class="clearfix space-top2 space-bottom4">
      <a class="col2 pad2 space-bottom2" href="mailto:sponsor-sotm@openstreetmap.org">
        <img src="img/sponsors.png" style="filter: grayscale(1) contrast(100);" />
      </a>
    </div>

    <h3 class="clearfix small-title sponsors silver">Silver</h3>
    <div class="col4 pad1 space-bottom2 sponsor">
      <a href="https://fposm.fr/sotm2026/">
        <img src="img/sponsors/fposm.svg" alt="Fédération des pros d'OSM">
      </a>
    </div>
    <div class="clearfix space-top2 space-bottom4">
      <a class="col2 pad2 space-bottom2" href="mailto:sponsor-sotm@openstreetmap.org">
        <img src="img/sponsors.png" style="filter: grayscale(1) contrast(100); margin-top: 30px" />
      </a>
    </div>

    <h3 class="clearfix small-title sponsors bronze">Bronze</h3>
    <div class="col3 pad1 space-bottom2 sponsor">
      <a href="https://www.iphigen.ie/">
        <img src="img/sponsors/iphigenie.svg" style="filter: grayscale(1) contrast(10) invert(1); height: 2.15em; margin-top: 25px;" alt="Iphigénie">
      </a>
    </div>
    <div class="col3 pad1 space-bottom2 sponsor">
      <a href="https://www.geofabrik.de/">
        <img src="img/sponsors/geofabrik.png" style="margin-top: 12px; filter: invert(1) brightness(300%) hue-rotate(180deg);" alt="Geofabrik">
      </a>
    </div>
    <div class="col3 pad1 space-bottom2 sponsor">
      <a href="https://www.sogefi-sig.com/">
        <img src="img/sponsors/sogefi.svg" style="margin-top: 0; " alt="SOGEFI Ingénierie Géomatique">
      </a>
    </div>
    <div class="col3 pad1 space-bottom2 sponsor">
      <a href="https://www.craig.fr/">
        <img src="img/sponsors/craig.svg" style="max-height: 6em; margin-left: 50px;" alt="Centre Régional Auvergne-Rhône-Alpes de l'Information Géographique">
      </a>
    </div>
    <div class="clearfix space-top2 space-bottom4">
      <a class="col2 pad2 space-bottom2" href="mailto:sponsor-sotm@openstreetmap.org">
        <img src="img/sponsors.png" style="filter: grayscale(1) contrast(100);" />
      </a>
    </div>

    <h3 class="clearfix small-title sponsors supporter">Supporter</h3>
    <a href="https://ferrygogo.com/" class="pad2 sponsor">FerryGoGo</a>
    <a href="mailto:sponsor-sotm@openstreetmap.org" class="pad2 sponsor"><span style="font-style: italic; opacity: 0.6;">your name here</span></a>

  </div>

</section>

